// colors

$color-1: black; // Sinbad
$color-2: #FAD0C4; // Rum Swizzle
$color-3: #A8CCBE; // Vivid Tangerine
$color-4: #ea5056; // Mandy
$color-5: #0f293d; // Elephant
$color-6: #D4D4D4;
// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lora', serif;;
