// colors

$color-1: #a6dad3;
$color-2: #f6f9e7;
$color-3: #ff8d78;
$color-4: #ea5056;
$color-5: #0f293d;
$color-6: #D4D4D4;

// fonts

$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Lora', serif;;
